@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root {
    --secondary: #64b5f6;
    --dark-grey: #263238;
    --grey: #7987a1;
    --grey2: #aebacf;
    --light-grey: #dee3ec;
    --light: #e3f2fd;
    --white: #fff;
    --red: #ef5455;
    --green: #5cb484;
}
* {
    font-family: Poppins;
}
body {
    margin: 0;
    background-color: var(--light);
}

/* .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
} */
